@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Dongle:wght@400&family=Hubballi&family=Hurricane&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background: url('background.jpg') no-repeat center center/cover;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  background: rgba(131, 123, 123, 1);
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  font-family: 'Holtwood One SC', serif;
  font-size: 14px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: 'Dongle', sans-serif;
  font-size: 40px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;
  padding: 0 40px;
  margin-top: 50px;
}

.about-text h1 {
  font-family: 'Hubballi', cursive;
  font-size: 50px;
  margin-bottom: 10px;
}

.about-text p {
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  max-width: 600px;
  line-height: 1.2;
}

.about-image img {
  width: 55%;
  max-width: 50pxpx;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .about-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-text p {
    font-size: 25px;
  }
}
